@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;    
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

div.top,
div.information,
div.quote,
div.footer {
    display: flex;
    padding: 20px 200px;
    flex: 1;
}

.top {
    background-color: #1f2937;
    color: white;
    flex-direction: column;
}

.quote {
    background-color: #e5e7eb
}

div.header {
    display: flex;
    justify-content: space-between;
}

ul.links {
    display: flex;
    gap: 1em;
}

.header a{
    text-decoration: none;
    color: #ffffff
}

.h-logo a {
    font-weight: 900;
}
